<!-- Page Header-->
<header class="page-header">
	<div class="container-fluid">
		<h2 class="no-margin-bottom">Kelas</h2>
	</div>
</header>
<!-- Dashboard Section -->
<section class="dashboard-counts no-padding-bottom">
	<div class="container-fluid">
		<div class="row bg-white has-shadow">
			<div class="col-xl-12 col-sm-12">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable"
					onclick="javascript:btnTambah();" id="btn-tambah"><i class="fa fa-plus fa-fw"></i> Tambah
					Data</button>

				<div class="table-responsive">
		          Pilih Tahun Ajaran : <div id="thn"></div>
					<table id="example" class="display table table-stipped table-bordered table-hover"
						style="width:100%">
						<thead>
							<tr>
								<th>NO</th>
								<th>Kode Kelas</th>
								<th>Nama Kelas</th>
								<!-- <th>NIP</th> -->
								<th>Tahun Ajaran</th>
								<th>Link</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>NO</th>
								<th>Kode Kelas</th>
								<th>Nama Kelas</th>
								<!-- <th>NIP</th> -->
								<th>Tahun Ajaran</th>
								<th>Link</th>
								<th>Aksi</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<!------------------------------ Modal -------------------------------->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
				<button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-validate" id="submit">
					<div class="form-group" id="input-id">
						<label for="id" class="col-form-label">ID</label>
						<input id="id" type="text" name="id" required data-msg="Please enter your id"
							class="form-control" readonly>
					</div>
					<div class="form-group">
						<label for="kode" class="col-form-label">Kode Kelas</label>
						<input id="kode" type="text" name="kode" required data-msg="Please enter your kode"
							class="form-control" readonly>
					</div>
					<div class="form-group">
						<label for="nama_kelas" class="col-form-label">Nama Kelas</label>
						<input id="nama_kelas" type="text" name="nama_kelas" required
							data-msg="Please enter your nama_kelas" class="form-control">
					</div>
					<div class="form-group" hidden="true">
						<label for="no" class="col-form-label">NIP</label>
						<input id="no" type="text" name="no" required data-msg="Please enter your no"
							class="form-control" readonly>
					</div>
					<div class="form-group">
						<label for="status" class="col-form-label">Tahun Ajaran</label>
						<select id="status" name="status" required class="form-control">
							<!-- <option id="aktif" value="aktif">Aktif</option> -->
							<!-- <option id="nonaktif" value="nonaktif">Tidak Aktif</option> -->
						</select>
					</div>
					<script>
			          myFunction();
			          function myFunction() {
			          	var i_data_tahun_ajaran = localStorage.getItem("tahun_ajaran");
						var i_semester = localStorage.getItem("semester");
						var i_tahun_ajaran = i_data_tahun_ajaran.replace('-', '/');
			            var d = new Date();
			            var n = d.getFullYear();
			            let text = "";
			            for(let i = n-5; i <= n; i++){
				            if ((i_tahun_ajaran) == (i+`/`+(i+1))) {
				            	if (i_semester == 1) {
							        text = text+`
							        			<option value="`+i+`-`+(i+1)+`-1" selected>`+i+`/`+(i+1)+`-Ganjil</option>
							        			<option value="`+i+`-`+(i+1)+`-2">`+i+`/`+(i+1)+`-Genap</option>`;
				            	}else{
							        text = text+`
							        			<option value="`+i+`-`+(i+1)+`-1">`+i+`/`+(i+1)+`-Ganjil</option>
							        			<option value="`+i+`-`+(i+1)+`-2" selected>`+i+`/`+(i+1)+`-Genap</option>`;
				            	}
				            }else{
					            text = text+`
					            			<option value="`+i+`-`+(i+1)+`-1">`+i+`/`+(i+1)+`-Ganjil</option>
					            			<option value="`+i+`-`+(i+1)+`-2">`+i+`/`+(i+1)+`-Genap</option>`;
				            }
				        };
			            document.getElementById("status").innerHTML = text;
			          }
			        </script>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" onclick="javascript:tambah();" id="btn-save">Save</button>
				<button type="submit" class="btn btn-warning" onclick="javascript:edit();" id="btn-edit">Edit</button>
				</form>
			</div>
		</div>
	</div>
</div>



<!------------------ script --------------------->
<script>
	function btnEdit(id) {
		$.ajax({
			url: url + '/api/data/kelas', //link json
			type: 'GET',
			dataType: 'json',
			data: {
				"id": id,
			},
			success: function (result) {
				console.log(result);
				if (result.status == true) {
					//include data dari database ke modals
					$("#id").val(id);
					$("#kode").val(result.data[0].kode);
					$("#nama_kelas").val(result.data[0].nama_kelas);
					$("#no").val(result.data[0].no);
					$("#" + result.data[0].status).prop('selected', 'true');

					//setting modals
					$(".modal-title").text("Edit Data");
					$("#exampleModalScrollable").modal("show");
					$("#input-id").removeClass("d-none");
					$("#btn-edit").removeClass("d-none");
					$("#btn-save").addClass("d-none");
				} else {
					swal("Error!", result.message, "error");
				}
			}
		});
	}


	function edit() {
		var form = $("form")[0];
		$.ajax({
			url: url + '/api/data/edit_kelas', //link json
			type: 'POST',
			data: new FormData(form),
			processData: false,
			contentType: false,
			success: function (result) {
				console.log(result);
				if (result.status == true) {
					$('#exampleModalScrollable').modal('hide');
					$('body').removeAttr('style');
					$('body').removeAttr('class');
					$('.modal-backdrop').remove();
					callPage(localStorage.getItem("lokasi"), localStorage.getItem("menu")); //refresh page
					swal({
						title: "Sukses",
						text: result.message,
						icon: "success",
					});
				} else {
					swal("Error!", result.message, "error");
				}
			}
		});
	}






	function hapus(id) {
		swal({
				title: "Apa anda yakin?",
				text: "data yang terhapus tidak dapat dikembalikan!",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
			.then((willDelete) => {
				if (willDelete) {

					$.ajax({
						url: url + '/api/data/del_kelas', //link json
						type: 'POST',
						dataType: 'json',
						data: {
							'id': id
						},
						success: function (result) {
							console.log(result);
							if (result.status == true) {
								swal(result.message, {
									icon: "success",
								});
								callPage(localStorage.getItem("lokasi"), localStorage.getItem(
									"menu")); //refresh data
							} else {
								swal("Error!", result.message, "error");
							}
						}
					});
				} else {
					swal("Aksi dibatalkan!");
				}
			});
	}





	function btnTambah() {
		$("#id").val("");
		$("#kode").val(Math.ceil(Math.random() * 9999999));
		$("#nama_kelas").val("");
		$("#no").val(localStorage.getItem("no_induk"));
		//setting modals
		$(".modal-title").text("Tambah Data");
		$("#exampleModalScrollable").modal("show");
		$("#btn-save").removeClass("d-none");
		$("#btn-edit").addClass("d-none");
		$("#input-id").addClass("d-none");
	}






	function tambah() {
		var form = $("form")[0];
		$.ajax({
			url: url + '/api/data/kelas', //link json
			type: 'POST',
			dataType: 'json',
			data: new FormData(form),
			processData: false,
			contentType: false,
			success: function (result) {
				console.log(result);
				if (result.status == true) {
					$('#exampleModalScrollable').modal('hide');
					$('body').removeAttr('style');
					$('body').removeAttr('class');
					$('.modal-backdrop').remove();
					callPage(localStorage.getItem("lokasi"), localStorage.getItem("menu")); //refesh page
					swal({
						title: "Sukses",
						text: result.message,
						icon: "success",
					});
				} else {
					swal("Error!", result.message, "error");
				}
			}
		});
	};




	function load_siswa(kode_kelas, nama_kelas) {
		localStorage.setItem("kode_kelas", kode_kelas);
		localStorage.setItem("nama_kelas", nama_kelas);
		callPage("siswa.html", localStorage.getItem("menu"));
	}



	function load_tugas(kode_kelas, nama_kelas) {
		localStorage.setItem("kode_kelas", kode_kelas);
		localStorage.setItem("nama_kelas", nama_kelas);
		callPage("tugas.html", localStorage.getItem("menu"));
	}





	//jquery document ready
	$(document).ready(function () {
		// datatables
		var t = $('#example').DataTable({
	        orderCellsTop: true,
	        fixedHeader: true,
			"stateSave": true,
			"processing": true,
			"ajax": {
				url: url + "/api/data/kelas",
				type: "GET",
				dataType: "json",
				data: {
					"no": localStorage.getItem("no_induk")
				}

			},
			"order": [
				[1, 'asc']
			],
			"columns": [{
					"data": null,
					"width": "50px",
					"sClass": "text-center",
					"orderable": false,
				},
				{
					"data": "kode"
				},
				{
					"data": "nama_kelas"
				},
				// {
				// 	"data": "no"
				// },
				{
					"data": "status",
					"orderable": false, 
		            "mRender": function (data) {  
		                var ganti = data.replace('-', '/');
		                var ganti = ganti.slice(0, 10);
		                var res = data.slice(10);
		                if (res == 1) {
		                  return ganti+"Ganjil";
		                }else{
		                  return ganti+"Genap";
		                }
		            }
				},
				{
					"data": "kode",
					"sClass": "text-center",
					"orderable": false,
					"mRender": function (data, type, row) {
						return `<a href="javascript:load_siswa(` + data + `,'` + row.nama_kelas + `');" class="badge badge-info"><i class="fa fa-user fa-fw"></i> Siswa</a> \n\
                  		<a href="javascript:load_tugas(` + data + `,'` + row.nama_kelas + `');" class="badge badge-danger"><i class="fa fa-tasks fa-fw"></i> Tugas</a>`;
					}
				},
				{
					"data": "id",
					"sClass": "text-center",
					"orderable": false,
					"mRender": function (data) {
						return '<a href="javascript:btnEdit(' + data + ');" class="badge badge-info"><i class="fa fa-edit fa-fw"></i> Edit</a> \n\
                  		<a href="javascript:hapus(' + data +
							');" class="badge badge-danger"><i class="fa fa-trash fa-fw"></i> Delete</a>';
					}
				}
			],
		});
		t.on('order.dt search.dt', function () {
			t.column(0, {
				search: 'applied',
				order: 'applied'
			}).nodes().each(function (cell, i) {
				cell.innerHTML = i + 1;
			});
		}).draw();
		t.search('').draw();

		//////////////fungsi untuk load tahun ajaran///////////////////
		var s_data_tahun_ajaran = localStorage.getItem("tahun_ajaran");
		var s_semester = localStorage.getItem("semester");
		var s_tahun_ajaran = s_data_tahun_ajaran.replace('-', '/');
		if (s_semester == 1) {
          var s_sem = "Ganjil";
        }else{
          var s_sem = "Genap";
        }
        t
            .column(3)
            .search( s_tahun_ajaran+"-"+s_sem )
            .draw();
        /////////////////////////////////////////////////////////////


    // selector tahun ajaran
    $('#example thead tr th').clone(true).appendTo( '#thn' ).each( function (i) {

		var data_tahun_ajaran = localStorage.getItem("tahun_ajaran");
		var semester = localStorage.getItem("semester");
		var tahun_ajaran = data_tahun_ajaran.replace('-', '/');

        var d = new Date();
        var n = d.getFullYear();
        let text = "<option value=''>Semua</option>";
        for(let i = n-5; i <= n; i++){
            if ((tahun_ajaran) == (i+`/`+(i+1))) {
            	if (semester == 1) {
			        text = text+`
			        			<option value="`+i+`/`+(i+1)+`-Ganjil" selected>`+i+`/`+(i+1)+`-Ganjil</option>
			        			<option value="`+i+`/`+(i+1)+`-Genap">`+i+`/`+(i+1)+`-Genap</option>`;
            	}else{
			        text = text+`
			        			<option value="`+i+`/`+(i+1)+`-Ganjil">`+i+`/`+(i+1)+`-Ganjil</option>
			        			<option value="`+i+`/`+(i+1)+`-Genap" selected>`+i+`/`+(i+1)+`-Genap</option>`;
            	}
            }else{
	            text = text+`
	            			<option value="`+i+`/`+(i+1)+`-Ganjil">`+i+`/`+(i+1)+`-Ganjil</option>
	            			<option value="`+i+`/`+(i+1)+`-Genap">`+i+`/`+(i+1)+`-Genap</option>`;
            }
        };
        var title = $(this).text();
        if (i == 3) {
          $(this).html( `<select id="select_thn" class="form-control ml-1">`+text+`</select>` );
        }else{
          $(this).remove();
        }
 
        $( 'select', this ).on( 'change', function () {
            if ( t.column(i).search() !== this.value ) {
                t
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );
    ////////////////////////////////////////////////////////////////////////

	});
  
</script>
